@media print {

    /* Size and marin for all pages ------------- */
    @page {
        size: 200mm 270mm;
        margin-top: 5mm;
        margin-bottom: 10mm;
        font-family: "Times";
        marks: crop ;
    }  


    /* LEFT PAGES -------------------------------- */

    @page:left {
        margin-left: 6mm;
        margin-right: 6mm;
        @left-top {
            width: auto;
        }
        @bottom-center{
            text-align: left;
        }
    }


    /* RIGHT PAGES -------------------------------- */

    
    @page:right {
        margin-left: 6mm;
        margin-right: 6mm;
        @right-top {
            width: auto;
        }
        @bottom-center{
            text-align: right;
        }
    }



    /* BLANK PAGES -------------------------------- */

    @page:blank {
        @left-top { content: none; }
        @bottom-center { content: none; }
        @right-top { content: none; }
    }



    /* COVER ------------------------------------- */

    @page:first{
        @right-top { content: none; }
    }

    
    
    /* SECTION BREAKS -------------------------------- */

    .chapter {
        break-before: always;
    }

    /* Page Breaks -------------------------------- */
    .page-break {
        page-break-after: always;  /* Forces a new page after this element */
        page-break-inside: avoid;  /* Avoids breaking inside this element */
    }


    /* CONTENT --------------------------------------- */
    .nav-section {
        display: none;
   }  
   
   .background {
        display: none;
   }

   .text-recherche {
        margin:0;
        padding:0;
        position: absolute;
        font-family: Mono, monospace;
        font-size: 13px !important;;
        background-color: rgba(255, 255, 255, 1);
        padding: 8px;
        line-height: 15px;
        width: 150mm;
        bottom: 25mm;
        hyphens: auto;
   }

   .text-left {
     left: 12mm;
   }

   .text-right {
    right: 12mm;
   }


   h2 {
        position: absolute;
        font-family: Moor;
        text-transform: uppercase;
        font-size: 100px;
        margin: 0;
        margin-left: 12mm;
        top: 0mm;
        z-index: 2;
        animation: 10s weightAnimation infinite;
        font-weight: 100;
        line-height: 0;
   }

   .img-print {
        width: 250mm;
        position: absolute;
        margin: -12mm;
        padding: 0;
        top: 0;
        left: 0;
}

    .img-em {
        display: none;
    }

/*page 1*/

   .content-process {
        position: absolute;
        top: 40mm;
        left: 8mm;
   }

    .container-headline-process {
        z-index: 2;
    }
    
    .process-headline {
        font-family: Moor;
        font-size: 130px;
        text-transform: uppercase;
        line-height: 0pt;
        z-index: 2;
        animation: 10s weightAnimation infinite;
        margin-left:0;
    }

    .process-subtext-headline {
        margin-left: -6mm;
        margin-top: -12mm;
    }

    .headline-moor-1 {
        margin-left: -10px;
    }
      
    .headline-moor-2 {
        margin-top: -40px;
        padding-left: 30px;
        margin-right: -30px;
    }



    /*page 2 + 3*/

    .process-text {
        position: absolute;
        top: 90mm;
        font-family: Mono, monospace;
        font-size: 13px;
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
        padding: 8px;
      }

    .headline-95 {
        position: absolute;
        font-family: Moor;
        text-transform: uppercase;
        line-height: 0;
        margin: 0;
        margin-left: 15mm;
        top: 10mm;
        z-index: 2;
    }

    .headline-95-all {
        margin-top: -20px;
    }

    .headline-95-2 {
        padding-left: 120px;
    }
    
    .headline-95-4 {
        padding-left: 200px;
    }
    
    .headline-95-6 {
        padding-left: 300px;
    }
    
    .headline-95-7 {
        padding-left: 210px;
    }

    .headline-wald {
        position: absolute;
        font-family: Moor;
        text-transform: uppercase;
        line-height: 0;
        margin: 0;
        margin-left: 12mm;
        top: 0mm;
        z-index: 2;
        top: 40mm;
    }


    .headline-all {
        margin-top: -22pt;
    }

    /*page 4 + 5*/

    .headline-wald-all {
        margin-top: -20pt;
    }

    .headline-wald-0 {
        padding-left: 80px;
      }
      .headline-wald-1 {
        padding-left: 80px;
      }
      
      .headline-wald-2 {
        padding-left: 250px;
      }
      
      .headline-wald-5 {
        padding-left: 300px;
      }
      
      .headline-wald-6 {
        padding-left: 100px;
      }

    .text-co2speicher {
        background-color: rgba(255, 255, 255, 1);
        z-index: 2;
    }

    /*page 6 + 7*/

    .headline-trockenlegung {
        text-align: center;
        margin-top: 35mm;
    }
    
    .headline-trockenlegung-0 {
        padding-left: 400px;
    }

    .headline-trockenlegung-1 {
        padding-left: 300px;
    }

    
    .headline-trockenlegung-2 {
        padding-left: 200px;
    }
    
    .headline-trockenlegung-3 {
        padding-left: 150px;
    }
    
    .headline-trockenlegung-5 {
        padding-right: 50px;
    }
    
    .headline-trockenlegung-8 {
        padding-left: 30px;
    }

    .headline-trockenlegung-11 {
        padding-left: 50px;
    }
    /*page 8 + 9*/

    .headline-wasser {
        text-align: center;
        margin-left: -25mm;
        margin-top: 40mm;
    }
    
    .headline-wasser-1 {
        padding-left: 150px;
    }
    
    .headline-wasser-2 {
        padding-left: 50px;
    }
    
    .headline-wasser-3 {
        padding-left: 150px;
    }
    
    .headline-wasser-8 {
        padding-left: 150px;
    }
    
    .headline-wasser-9 {
        padding-left: 100px;
    }

    /*page 10 + 11*/

    .container-headline-schwamm {
        margin-left: -17mm;
    }

    .headline-schwamm {
        margin-top: 60mm;
        text-align: center;
    }

    .headline-schwamm-1 {
        padding-left: 200px;
      }
      
    .headline-schwamm-3 {
        padding-left: 200px;
      }

    /*page 12 + 13*/

    .headline-hochwasser {
        margin-top: 60mm;
        margin-right: 10mm;
    }


    .headline-hochwasser {
        text-align: start;
    }
    
    .headline-hochwasser-2 {
        padding-left: 70px;
    }
    
    .headline-hochwasser-3 {
        padding-left: 390px;
    }
    
    .headline-hochwasser-4 {
        padding-left: 200px;
    }

    /*page 14 + 15*/

    .headline-pflanzen {
        margin-top: 40mm;
        margin-left: 15mm;
    }

    .headline-pflanzen-1 {
        padding-left: 100px;
     }
    
    .headline-pflanzen-2 {
        padding-left: 180px;
    }
    
    .headline-pflanzen-4 {
        padding-left: 200px;
    }
    
    .headline-pflanzen-6 {
        padding-left: 80px;
    }
    
    .headline-pflanzen-7 {
        padding-left: 100px;
    }
    
    .headline-pflanzen-8 {
        padding-left: 200px;
    }

    /*page 16 + 17*/
  
    .headline-archive {
        margin-top: 60mm;
        margin-left: 20mm;
        text-align: center;
    }


    .headline-archive-2 {
        padding-left: 100px;
    }
    
    .headline-archive-3 {
        padding-left: 0px;
    }


    @keyframes weightAnimation {
        0% {
            font-variation-settings: 'wght' 100;
        }
        50% {
            font-variation-settings: 'wght' 0;
        }
        100% {
            font-variation-settings: 'wght' 100;
        }
      }

      * {
        animation-play-state:running !important;
      }

}

button  {
    font-family: Moor;
    text-transform: uppercase;
  }

button:hover {
    animation: 1s decreaseAnimation forwards;
}


  @keyframes decreaseAnimation {
    0% {
        font-variation-settings: 'wght' 100;
    }
    100% {
        font-variation-settings: 'wght' 0;
    }
  }

footer {
    position: absolute;
    bottom:0;
    line-height: 8px;
    text-align: end;
    right: 12mm;
}

.screen {
    display: none;
}